body {
    font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

div.ListContainer {
  width: 600px;
}

hr {
  margin-right: 500px;
  color: blue;
  height: 5px;
}
